# Copyright (c) 2020 The ZMK Contributors
# SPDX-License-Identifier: MIT

if SENSOR

rsource "battery/Kconfig"
rsource "ec11/Kconfig"
rsource "kailh-enc/Kconfig"
rsource "max17048/Kconfig"

rsource "encoder_mock/Kconfig"
rsource "mpr121/Kconfig"

endif # SENSOR
